@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #fff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #113;
  color: #fff;
  border: none;

  font-size: 1rem;
  cursor: pointer;
  transition: scale, background-color 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    background-color: #224;
  }

  &:active {
    scale: 0.9;
    background-color: #334;
  }
}

h1.title {
  font-size: 2rem;
  text-align: center;
  font-weight: semibold;
}

footer {
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
}

@media (min-width: 768px) {
  h1.title {
    font-size: 3rem;
  }

  footer {
    font-size: 1rem;
  }
}
